@{
    ViewData["Title"] = "Success Page";
}
@model User

<div class="row mt-3 mb-3">
    <a class="col-12 text-right" href="logout"><input type="button" value="Logout" class="btn btn-primary"></a>
</div>
<div class="row mb-3">
    <h1 class="col-12 text-center text-success">S U C C E S S </h1>
</div>
<div class="text-center">
    <h2>Hello, @Model.FirstName</h2>
</div>